# Managed by Ansible

sources:
{{ vector_sources | to_nice_yaml(indent=2) | indent(2, true) }}

{% if vector_transforms | length > 0 %}
transforms:
{{ vector_transforms | to_nice_yaml(indent=2) | indent(2, true) }}
{% endif %}

sinks:
{{ vector_sinks | to_nice_yaml(indent=2) | indent(2, true) }}